{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reco Collector</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="../" class="brand-logo center">The Movie Collector</a>        
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'new_reco' %}">Add to my list</a></li>
            <li><a href="{% url 'my_recos' %}">My Watch List</a></li>
          </ul>
        </div>
      </nav>
    </header>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'new_reco' %}">Add to my list</a></li>
          <li><a href="{% url 'my_recos' %}">My Watch List</a></li>
        </ul>

    <main class="container">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="page-footer center">
      <div class="valign-wrapper right">
        Created by &nbsp<a class="valign-wrapper white-text" href="https://github.com/zsiskos">zoe.SuperNova &nbsp <img src="{% static 'images/GitHub-Mark-32px.png' %}">&nbsp</a>
      </div>
    </footer>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        let navEl = document.querySelectorAll('.sidenav');
        let instance = M.Sidenav.init(navEl, {
          edge: 'left'
          });
      });
    </script>
  </body>
</html>